@charset "UTF-8";
/* Eventos */
.eventos {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap; }
  .eventos .evento {
    display: flex;
    flex-direction: column;
    background-color: #460101;
    width: 40%;
    padding: 1rem;
    margin: 3rem;
    /* animaciones eventos */ }
    .eventos .evento:hover {
      transform: scale(1.11);
      transition: 1.7s; }
    .eventos .evento img {
      width: 100%; }
    .eventos .evento p {
      background-color: #cccaca;
      padding: 3px;
      text-align: center; }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .eventos .evento {
      width: 100%; } }
  @media only screen and (max-width: 767px) {
    .eventos .evento {
      width: 100%;
      padding: 0.7rem;
      margin: 1rem; } }

.canciones .cancion .tituloCancion, .formulario legend, .videos {
  background-image: linear-gradient(to right, #460101, #2e0101); }

/* Music */
.canciones {
  display: flex;
  flex-wrap: wrap; }
  .canciones .cancion {
    display: flex;
    flex-direction: column;
    background-color: #cccaca;
    margin: 1.25rem;
    width: 21rem; }
    .canciones .cancion .tituloCancion {
      padding: 0.2rem;
      color: #cccaca; }
    .canciones .cancion .letraCancion {
      padding: 0.2rem;
      overflow-y: scroll;
      height: 21rem; }
    .canciones .cancion .reproductor audio {
      width: 100%; }
  @media only screen and (max-width: 767px) {
    .canciones .cancion {
      width: 100%; }
    .canciones .letraCancion {
      height: auto;
      overflow: unset; } }

.canciones .cancion .tituloCancion, .formulario legend, .videos {
  background-image: linear-gradient(to right, #460101, #2e0101); }

/* Contact Us */
.formulario {
  background-color: #cccaca; }
  .formulario .subtitulo {
    padding: 0.6rem; }
  .formulario legend {
    width: 100%;
    margin: 0; }
  @media only screen and (max-width: 767px) {
    .formulario {
      margin-top: 1rem; } }

.canciones .cancion .tituloCancion, .formulario legend, .videos {
  background-image: linear-gradient(to right, #460101, #2e0101); }

/* Index */
.videos {
  padding: 30px 0; }
  .videos iframe {
    width: 35rem;
    height: 25rem; }
  .videos .tituloVideo h2 {
    font-size: 4em; }

/* Band info */
.historia {
  display: flex;
  flex-direction: row; }
  .historia .historiaTexto {
    color: #cccaca;
    display: flex;
    flex-direction: column;
    width: 60%;
    border-top: 1px solid #cccaca; }
    .historia .historiaTexto h2 {
      margin-bottom: 0.6rem; }
    .historia .historiaTexto p {
      width: 70%; }
  .historia .historiaImagen {
    display: flex;
    justify-content: center;
    align-items: stretch;
    background-color: #460101;
    width: 39%;
    text-align: center;
    padding: 1.5rem; }
    .historia .historiaImagen img {
      width: 60%;
      align-self: center; }
      .historia .historiaImagen img:hover {
        transform: scale(1.15);
        transition: 1.7s; }
    .historia .historiaImagen div {
      display: none; }
  .historia:nth-child(1) .historiaImagen div {
    background-image: url(../img/foto1.jpg); }
  .historia:nth-child(2) .historiaImagen div {
    background-image: url(../img/foto2.jpg); }
  .historia:nth-child(3) .historiaImagen div {
    background-image: url(../img/foto3.jpg); }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .historia .historiaTexto {
      padding-left: 2rem; }
    .historia .historiaImagen {
      margin: 1rem;
      width: 60%;
      align-self: center; } }
  @media only screen and (max-width: 767px) {
    .historia {
      flex-direction: column-reverse;
      margin-bottom: 3rem; }
      .historia h2 {
        display: none; }
      .historia .historiaTexto {
        width: 100%;
        padding: 1rem; }
        .historia .historiaTexto p {
          width: 100%; }
      .historia .historiaImagen {
        padding: 0;
        width: 100%; }
        .historia .historiaImagen img {
          display: none; }
        .historia .historiaImagen div {
          display: block;
          width: 100%;
          height: 10rem;
          background-size: cover;
          font-size: 5rem;
          color: #cccaca;
          text-shadow: 0 0 5px black;
          padding-top: 0.6rem; } }

/* reset */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

html {
  background-color: black; }

/* Elemento raiz de la página */
.bodyContenido {
  background-color: #252424;
  background-image: url("../img/fondo.jpg");
  font-family: 'Oswald', sans-serif;
  color: black;
  /* Pie de página */ }
  .bodyContenido header {
    background-image: linear-gradient(to bottom, #460101, #5c0101);
    /* Logo y navegación */ }
    .bodyContenido header .navbar .navbar-brand {
      color: #e9e5e5;
      padding-top: 10px; }
    .bodyContenido header .navbar img {
      display: flex;
      display: inline-block;
      width: 50px;
      margin: 10px; }
    .bodyContenido header .navbar .navbar-nav a.nav-item {
      color: #e9e5e5; }
      .bodyContenido header .navbar .navbar-nav a.nav-item.active {
        color: #e9e5e5;
        text-shadow: 0 0 4px whitesmoke; }
    .bodyContenido header a {
      vertical-align: top;
      color: #e9e5e5;
      display: inline-block; }
    .bodyContenido header button {
      color: #e9e5e5; }
  @media only screen and (max-width: 767px) {
    .bodyContenido main {
      padding: 0; }
    .bodyContenido .tituloPrincipal {
      font-size: 30px; } }
  .bodyContenido main {
    grid-area: content;
    /* compenzando por el fixed-top de header de bootstrap */
    margin-top: 4.2em;
    padding: 20px;
    display: flex;
    flex-direction: column; }
    .bodyContenido main .subtitulo {
      color: #cccaca;
      margin-bottom: 10px; }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .bodyContenido main {
      padding: 0; } }
  @media only screen and (max-width: 767px) {
    .bodyContenido main {
      padding: 0; } }
  .bodyContenido footer .logoInsta {
    vertical-align: middle;
    height: 30px;
    margin: 4px; }
  .bodyContenido footer .linkInsta {
    text-decoration: none;
    color: #cccaca; }
  .bodyContenido footer .copyright {
    margin-top: 8px;
    color: #cccaca; }
  @media only screen and (max-width: 767px) {
    .bodyContenido footer .linkInsta span {
      display: none; } }
