@import "../extends";

/* Contact Us */

.formulario{
    background-color: $color-gris-claro;

    .subtitulo{
        padding: 0.6rem;
    }

    legend{
        @extend %gradiente;
        width: 100%;
        margin: 0;
    }

    @media only screen and (max-width:767px){
        margin-top: 1rem;
    }
}


