@import "../extends";

/* Index */

.videos{
    @extend %gradiente;
    padding: 30px 0;

    iframe{
        width: 35rem; 
        height: 25rem;
    
    }

    .tituloVideo h2{
        font-size: 4em;
    } 
}



