/* Index */

.videos{
    background-image: linear-gradient(to right, $color-morado-solido, #2e0101);
    padding: 30px 0;

    iframe{
        width: 35rem; 
        height: 25rem;
    
    }

    .tituloVideo h2{
        font-size: 4em;
    } 
}



